html {
    font-size: 16px;
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Arial Black", sans-serif;
}

nav {
    height: 5rem;
    width: 100%;
    background-color: #2E3033;
}

label.logo {
    color: white;
    font-size: 2rem;
    line-height: 5rem;
    padding: 0 2rem;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 5rem;
    margin: 0 .25rem;
}

nav ul li a, nav ul li a:visited {
    color: white;
    padding: .5 rem 1rem;
    border-radius: .25 rem;
    transition: 0.25s;
}

nav ul li a:hover {
    background: #18191a;
    border-radius: .5rem;
    padding: .4rem;
    transition: .5s;
}

.banner {
    height: 40rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.banner figure {
    margin: -16rem 0;
}

.banner figcaption {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    text-shadow: 0rem 0rem 0.75rem black;
    float: none;
    margin: -50rem 0;
}