html {
    font-size: 16px;
    background-color: #29343b;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
}

/* Header */
header {
    padding: 1rem 0 0.5rem;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

header a {
    color: lightskyblue;
}

header a img {
    height: 8rem;
}

@media (max-width: 1000px) {
    header a img {
        height: 30vw;
        max-height: 12rem;
    }
}

/* NAV */
nav {
    text-align: center;
    height: 2rem;
}

nav ul li {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: inline-block;
    margin: 0 .25rem;
}

nav a,
nav a:visited {
    color: white;
    transition: .2s;
}

nav a:hover {
    color: lightgray;
    transition: .2s;
}

@media (max-width: 1000px) {
    nav {
        height: 10vw;
    }

    nav ul li {
        font-size: 5vw;
    }
}

/* Banner */
.banner {
    padding: 10% 0;
    background-image: url("./images/home_shop.png");
    background-position: center;
    text-shadow: 0rem 0rem 0.75rem black;
}

.banner h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: normal;
}

.banner h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5vw;
}

@media (max-width: 1000px) {
    .banner {
        padding: 30vw 0;
    }

    .banner h2 {
        font-size: 7vw;
        text-overflow: clip;
    }

    .banner h1 {
        font-size: 6.5vw;
    }
}

/* Whitelist Info */
.whitelist_info {
    padding: 10% 0;
    background-image: url("./images/wise.png");
    background-position: center;
    text-shadow: 0rem 0rem 0.75rem black;
    margin-top: 1.5rem;
    text-align: center;
}

.whitelist_info h1 {
    text-transform: uppercase;
    font-size: 3vw;
}

.whitelist_info p {
    font-size: 2vw;
    margin-bottom: .5rem;
}

.whitelist_info a {
    color: lightskyblue;
    font-size: 1.5vw;
    font-weight: bold;
    transition: .2s;
}

.whitelist_info a:hover {
    letter-spacing: .15rem;
    transition: .2s;
}

@media (max-width: 1000px) {
    .whitelist_info {
        padding: 30vw 0;
    }

    .whitelist_info h1 {
        font-size: 6.5vw;
    }

    .whitelist_info p {
        font-size: 5vw;
        text-overflow: clip;
    }

    .whitelist_info a {
        font-size: 6vw;
    }
}
