html {
    font-size: 16px;
    background-color: black;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: "Arial Black", sans-serif;
}

/* NAV */
nav {
    height: 5rem;
    width: 100%;
    overflow: hidden;
    background-color: #2E3033;
}

nav ul {
    margin-left: 1rem;
}

nav ul li {
    color: white;
    display: inline-block;
    line-height: 5rem;
    margin: 0 .25rem;
}

nav ul li.logo {
    font-family: "Arial Black", sans-serif;
    font-size: 2rem;
    padding-right: .5rem;
}

nav ul li.logo a:hover {
    color: lightskyblue;
    transition: .2s;
}

nav a,
nav a:visited {
    color: white;
    transition: .2s;
}

nav a:hover {
    color: lightgray;
    transition: .2s;
}

/* Server IP */
div.server_ip {
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
    margin: 2rem 0 0 0;
}

/* Sample Images */
div.sample_images img {
    border-style: outset;
    border-color: white;
    border-radius: 0.5rem;
    margin: 2rem 0 0 0;
    height: 35vw;
}