html {
    font-size: 16px;
    background-color: #29343b;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
}

/* Header */
header {
    padding: 1rem 0 0.5rem;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

header a {
    color: lightskyblue;
}

header a img {
    height: 8rem;
}

@media (max-width: 1000px) {
    header a img {
        height: 30vw;
        max-height: 12rem;
    }
}

/* NAV */
nav {
    text-align: center;
    height: 2rem;
}

nav ul li {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    display: inline-block;
    margin: 0 .25rem;
}

nav a,
nav a:visited {
    color: white;
    transition: .2s;
}

nav a:hover {
    color: lightgray;
    transition: .2s;
}

@media (max-width: 1000px) {
    nav {
        height: 10vw;
    }

    nav ul li {
        font-size: 5vw;
    }
}

/* Title Banner */
.title {
    text-align: center;
    background-image: url("../images/banner.png");
    padding: 3% 0;
    background-position: center;
    text-shadow: 0rem 0rem 0.75rem black;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2vw;
}

@media (max-width: 1000px) {
    .title {
        padding: 15vw 0;
    }

    .title h1 {
        font-size: 6.5vw;
    }
}

/* World Downloads */
.world_download {
    text-align: center;
    padding: 10% 0;
    background-position: center;
    text-shadow: 0rem 0rem 0.75rem black;
    margin: 0 15rem 2rem;
}

.world_download h1 {
    text-transform: uppercase;
    font-size: 2.5vw;
}

.world_download a {
    color: lightskyblue;
    font-size: 1.5vw;
    font-weight: bold;
    transition: .2s;
}

.world_download a:hover {
    letter-spacing: .15rem;
}

@media (max-width: 1000px) {
    .world_download {
        padding: 30vw 0;
    }

    .world_download h1 {
        font-size: 6.5vw;
    }

    .world_download a {
        font-size: 6vw;
    }
}

/* Background Image Selectors */
#judge {
    background-image: url("../images/judge.jpg");
}

#shops {
    background-image: url("../images/shops.jpg");
}

#lighthouse {
    background-image: url("../images/lighthouse.jpg");
}

#peggle {
    background-image: url("../images/peggle.jpg");
}

#castle {
    background-image: url("../images/118.jpg");
}